.subtitle {
    color: gray;
    font-weight: 500;
}

.rowGroup {
    margin-top: 0.1rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1rem 0rem 1rem 0rem;
}

.dataTable {
    background-color: rgba(211, 211, 211, 0.589) !important;
    border-radius: 4px 4px 0px 0px;
}

.bSpacer {
    margin-bottom: 1rem;
}